/* VARIABLES CSS */

:root{
    --header-height:3.5rem;

    /* color mode */
    --title-color:hsl(0,0%,100%);
    --text-color:hsl(0, 0%, 60%);
    --body-color:hsl(0,0%,0);


    /* FONT AND TYPO */
    --body-font:"Montserrat",sans-serif;
    --h1-font-size:1.5rem;
    --h3-font-size:1rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;


    /* FONT WEIGHT */
    --font-regular:400;
    --font-semi-bold:600;
    --font-bold:700;

    /* Z INDEX */
    --z-tooltip:10;
    --z-fixed:100;

}


@media screen and(min-width:1152px){
    :root{
        --h1-font-size:2.25rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem; 
    }
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    font-family: var(--body--font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    background-color: black;
    color: azure;
}

.header{
    position:fixed;
    width:100%;
    top:0;
    left: 0;
    background-color: var(--body-color);
    /* border-bottom: 1px solid var(--text-color); */
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_logo{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    letter-spacing: 3px;
}

.nav_toggle,
.nav_close{
    font-size: 1.25rem;
    color: var(--tittle-color);
    cursor: pointer;

}


/* NAVIGATION MENU FOR MOBILE DEVICES  */


@media screen and (max-width:1023px){
    .nav_menu{
        position: fixed;
        top: o;
        left: 0;
        background-color: var(--body-color);
        border-bottom: 1px solid  var(--text-color);
        width: 100%;
        padding-block: 4.5rem 3.5rem;
        transition: top 2s;
    }
}

.nav_list{
    display: flex;
    flex-direction: column;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height:auto;
}

/* REUSABLE CSS CLASSES */
.container{
max-width: 1120px;
margin-inline: 1.5rem;
}

.main{
    overflow: hidden;
}